{# templates/daily/daily.html.twig #}

{% block stylesheets %}
    {{ encore_entry_link_tags('daily') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('daily') }}
{% endblock %}

{% block style %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Word</title>
</head>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <div {{ stimulus_controller('say-hello') }}>
        <input type="text" {{ stimulus_target('say-hello', 'name') }}>

        <button {{ stimulus_action('say-hello', 'greet') }}>
            Greet
        </button>

        <div {{ stimulus_target('say-hello', 'output') }}></div>
    </div>


        {# <div id="app">
            <h1>Wordle Game</h1>
            <p id="word-display">_ _ _ _ _</p>
            <input type="text" id="guess-input" placeholder="Enter your guess">
            <button id="submit-button">Submit Guess</button>
            <p id="result"></p>
        </div> #}
</body>
{% endblock %}